$color1: #1ec997;
$color2: #fff;
$color3: #111111;
$bg-dark-1: #212529;
$bg-dark-2: #343a40;
$bg-dark-3: #3e444b;
$color2-50: hsla(0, 0%, 100%, 0.5);
$lightgray: #f8f9fa;

$primary: $color3;
$primary-color-hover: #189f76;
$secondary: $color2;
$info: $color1;
$font-family-sans-serif: "Poppins", sans-serif;
