@use "../styles/variables" as v;
.profile-page-container {
	position: relative;
	video,
	.bg-image {
		height: 100%;
		width: 100%;
		object-position: 50% 50%;
		position: absolute;
		z-index: -99;
		@media (max-width: 768px) {
			object-position: 80% 0%;
		}
	}
	.background-blur {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: hsla(280, 3%, 23%, 0.475);
		z-index: -98;
	}
	.profile-image-container {
		width: 200px;
		height: 200px;
		padding: 10px;
		background-color: #fff;
		border-radius: 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	.arrow {
		cursor: pointer;
		color: v.$color2;
	}
	.media-controls.container {
		display: none;
	}
	.type-writer {
		color: v.$color2;
	}
}
